/**
 * Paco2017 Content Administration Styles
 *
 * @package Paco2017 Content
 * @subpackage Administration
 */

/* Plugin Dashboard */

.toplevel_page_paco2017 h2.nav-tab-wrapper {
	margin-bottom: 6px;
}

#paco2017_dashboard_status ul {
	margin: 0;
	display: inline-block;
	width: 100%;
}

#paco2017_dashboard_status li {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

#paco2017_dashboard_status li a:before,
#paco2017_dashboard_status li span:before {
	color: #82878c;
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 10px 0 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	vertical-align: top;
}

#paco2017_dashboard_status li a:before,
#paco2017_dashboard_status li span:before {
	content: '\f159';
	padding: 0 5px 0 0;
}

#paco2017_dashboard_status .enrolled-count a:before {
	content: '\f147'; /* dashicons-yes */
}

#paco2017_dashboard_status .user-count a:before {
	content: '\f110'; /* dashicons-admin-users */
}

#paco2017_dashboard_status .association-count a:before {
	content: '\f307'; /* dashicons-groups */
}

#paco2017_dashboard_status .lecture-count a:before {
	content: '\f101'; /* dashicons-admin-comments */
}

#paco2017_dashboard_status .workshop-count a:before {
	content: '\f107'; /* dashicons-admin-tools */
}

#paco2017_dashboard_status .speaker-count a:before {
	content: '\f338'; /* dashicons-businessman */
}

#paco2017_dashboard_status .conf_day-count a:before {
	content: '\f508'; /* dashicons-calendar-alt */
}

#paco2017_dashboard_status .agenda-count a:before {
	content: '\f489'; /* dashicons-schedule */
}

#paco2017_dashboard_status .conf_location-count a:before {
	content: '\f231'; /* dashicons-location-alt */
}

#paco2017_dashboard_enrollments .main {
	text-align: center;
	margin-bottom: 1.5rem;
}

#paco2017_dashboard_enrollments .main span {
	font-size: 6rem;
	line-height: 6rem;
}

#paco2017_dashboard_enrollments .paco2017_enrollments_widget {
	margin: 0;
}

#paco2017_dashboard_enrollments .paco2017_enrollments_widget dl {
	margin: 0;
	column-count: 2;
}

.paco2017_enrollments_widget dt,
.paco2017_enrollments_widget dd {
	display: inline-block;
	padding: 0 0 5px;
	margin: 0 0 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paco2017_enrollments_widget dt {
	width: 60%;
	font-weight: 600;
}

.paco2017_enrollments_widget dd {
	width: 40%;
	padding-right: 15px;
	text-align: right;
}

/* Settings */

p.description.warning {
	color: #f00;
}

p + select,
p + fieldset {
	margin-top: 1.5em;
}

.form-table fieldset.paco2017-profile-field legend,
.form-table fieldset.paco2017-profile-field label:not(.option-label) {
	display: none;
}

fieldset.paco2017-profile-field label.option-label {
	width: 100%;
}

/* List Table */

.tablenav .paco2017-conf-day-link {
	overflow: initial;
}

.tablenav .alignleft a,
.tablenav .alignleft a:active {
	position: inherit;
	float: left;
	display: inline-block;
	margin: 1px 8px 0 0;
}

.fixed .column-time_start,
.fixed .column-time_end {
	width: 50px;
}

.fixed .column-related,
.fixed .column-partner_url {
	width: 10%;
}

.fixed.posts .column-logo {
	width: 38px; /* logo image width */
}

	.fixed.posts th.column-logo {
		position: relative;
		text-indent: -100%;
	}

		.fixed.posts th.column-logo:after {
			content: '\f128';
			position: absolute;
			right: 0;
			font-family: dashicons;
			font-size: 20px;
			color: #555;
		}

@media screen and (max-width: 782px) {
	.fixed.posts th.column-logo,
	.fixed.posts td.column-logo {
		display: none !important;
		padding: 0;
	}
}

/* Single Post */

.paco2017_object_details label {
	display: inline-block;
	width: 30%;
	margin-right: -4px;
	padding-right: 8px;
	font-weight: 600;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.paco2017_object_details label + * {
	display: inline-block;
	width: 100%;
	max-width: 70%;
	margin-right: 0;
	margin-left: 0;
	vertical-align: top;
}

.paco2017_object_details label + select {
	width: 70%;
}

.paco2017_object_details .time-part {
	width: 45%;
}
