/**
 * Paco2017 Content Administration Styles
 *
 * @package Paco2017 Content
 * @subpackage Administration
 */

/* Plugin Dashboard */

#paco2017_dashboard_status ul {
	margin: 0;
	display: inline-block;
	width: 100%;
}

#paco2017_dashboard_status li {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

#paco2017_dashboard_status li a:before,
#paco2017_dashboard_status li span:before {
	color: #82878c;
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 10px 0 0;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	vertical-align: top;
}

#paco2017_dashboard_status li a:before,
#paco2017_dashboard_status li span:before {
	content: '\f159';
	padding: 0 5px 0 0;
}

#paco2017_dashboard_status .enrolled-count a:before {
	content: '\f147'; /* dashicons-yes */
}

#paco2017_dashboard_status .user-count a:before {
	content: '\f110'; /* dashicons-admin-users */
}

#paco2017_dashboard_status .association-count a:before {
	content: '\f307'; /* dashicons-groups */
}

#paco2017_dashboard_status .lector-count a:before {
	content: '\f338'; /* dashicons-businessman */
}

#paco2017_dashboard_status .workshop-count a:before {
	content: '\f107'; /* dashicons-admin-tools */
}

#paco2017_dashboard_status .conf_day-count a:before {
	content: '\f508'; /* dashicons-calendar-alt */
}

#paco2017_dashboard_status .agenda-count a:before {
	content: '\f489'; /* dashicons-schedule */
}

#paco2017_dashboard_status .conf_location-count a:before {
	content: '\f231'; /* dashicons-location-alt */
}

#paco2017_dashboard_enrollments .main {
	text-align: center;
	margin-bottom: 1.5rem;
}

#paco2017_dashboard_enrollments .main span {
	font-size: 6rem;
	line-height: 6rem;
}

#paco2017_dashboard_enrollments .paco2017_enrollments_widget {
	margin: 0;
}

#paco2017_dashboard_enrollments .paco2017_enrollments_widget dl {
	margin: 0;
	column-count: 2;
}

.paco2017_enrollments_widget dt,
.paco2017_enrollments_widget dd {
	display: inline-block;
	margin: 0 0 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paco2017_enrollments_widget dt {
	width: 60%;
	font-weight: 600;
}

.paco2017_enrollments_widget dd {
	width: 40%;
	padding-right: 15px;
	text-align: right;
}

/* List Table */

.tablenav .paco2017-conf-day-link {
	overflow: initial;
}

.tablenav .alignleft a,
.tablenav .alignleft a:active {
	position: inherit;
	float: left;
	display: inline-block;
	margin: 1px 8px 0 0;
}

/* Agenda */

#paco2017_agenda_details label {
	width: 30%;
	display: inline-block;
	font-weight: 600;
}

#paco2017_agenda_details label + * {
	max-width: 69%;
	display: inline-block;
}

#paco2017_agenda_details label + select {
	width: 69%;
}

#paco2017_agenda_details .time-part {
	width: 45%;
}
