/**
 * Paco2017 Content Styles
 *
 * @package Paco2017 Content
 * @subpackage Main
 */

.paco2017_enrollments_widget dl {
	margin: 0;
}

.paco2017_enrollments_widget dt,
.paco2017_enrollments_widget dd {
	display: inline-block;
	margin: 0;
	padding: 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paco2017_enrollments_widget dt {
	width: 75%;
	padding-left: 10px;
	font-weight: 600;
}

.paco2017_enrollments_widget dd {
	width: 25%;
	padding-right: 15px;
	text-align: right;
}

/* Agenda */

.paco2017_agenda .day-title {
	margin-bottom: 0;
}

.paco2017_agenda .day-date {
	opacity: .7;
}

.paco2017_agenda ul {
	list-style: none;
}

.paco2017_agenda li ul {
	margin: 0 0 1.5em 0;
}

.paco2017_agenda .item-title {
	font-weight: 600;
}

.paco2017_agenda .item-timeslot {
	font-size: 80%;
	opacity: .7;
}

.paco2017_agenda .item-footer {
	margin-top: -.75em;
}
