/**
 * Paco2017 Content Styles
 *
 * @package Paco2017 Content
 * @subpackage Main
 */

.paco2017_enrollments_widget dl {
	margin: 0;
}

.paco2017_enrollments_widget dt,
.paco2017_enrollments_widget dd {
	display: inline-block;
	margin: 0;
	padding: 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paco2017_enrollments_widget dt {
	width: 75%;
	padding-left: 10px;
	font-weight: 600;
}

.paco2017_enrollments_widget dd {
	width: 25%;
	padding-right: 15px;
	text-align: right;
}

/* Content */

.paco2017-content ul {
	list-style: none;
}

.paco2017-content ul li:not(:last-child) {
	margin-bottom: 2em;
}

.speaker-info.has-avatar,
.paco2017-content li.has-avatar {
	min-height: 5em;
}

.paco2017-content li ul {
	margin: 0 0 1.5em 0;
}

.paco2017-content li p:empty {
	display: none;
}

.speaker-header,
.paco2017-content .item-header {
	margin: 0 0 0.5em;
}

.speaker-avatar,
.paco2017-content .item-avatar {
	float: left;
	margin: 0 1em 0 0;
}

.speaker-avatar img,
.paco2017-content .item-avatar img {
	width: 5em;
	height: 5em;
}

.speaker-title,
.paco2017-content .item-title {
	display: inline-block;
	padding-top: 0;
}

.paco2017-content .item-content {
	margin: 0 0 1.5em;
}

.paco2017-content .item-footer {
	margin-top: -.75em;
}

/* Agenda */

.agenda-info {
	font-style: italic;
}

.paco2017-agenda .day-date {
	opacity: .7;
}

.paco2017-agenda .item-timeslot {
	display: block;
	font-size: 80%;
	opacity: .7;
}
