/**
 * Paco2017 Content Styles
 *
 * @package Paco2017 Content
 * @subpackage Main
 */

.paco2017_enrollments_widget dl {
	margin: 0;
}

.paco2017_enrollments_widget dt,
.paco2017_enrollments_widget dd {
	display: inline-block;
	margin: 0;
	padding: 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paco2017_enrollments_widget dt {
	width: 75%;
	padding-left: 10px;
	font-weight: 600;
}

.paco2017_enrollments_widget dd {
	width: 25%;
	padding-right: 15px;
	text-align: right;
}

/* Content */

.paco2017-content ul {
	list-style: none;
}

.paco2017-content ul li:not(:last-child) {
	margin-bottom: 2em;
}

.speaker-info.has-avatar,
.paco2017-content li.has-avatar {
	min-height: 5em;
}

.paco2017-content li ul {
	margin: 0 0 1.5em 0;
}

.paco2017-content li p:empty {
	display: none;
}

.speaker-header,
.paco2017-content .item-header {
	margin: 0 0 0.5em;
}

.speaker-avatar,
.paco2017-content .item-avatar {
	float: left;
	margin: 0 1em 0 0;
}

.speaker-avatar img,
.paco2017-content .item-avatar img {
	width: 5em;
	height: 5em;
}

.speaker-title,
.paco2017-content .item-title {
	display: inline-block;
	padding-top: 0;
}

.paco2017-content .item-content {
	margin: 0 0 1.5em;
}

.paco2017-content .item-footer {
	margin-top: -.75em;
}

/* Info */

.paco2017-info:not(.speaker-info) {
	font-style: italic;
	color: #666;
	font-size: 13px;
	font-size: 0.8125rem;
}

.paco2017-info .item-detail {
	display: inline-block;
}

.paco2017-info .item-detail:not(:last-child):after {
	content: '.';
}

/* Agenda */

.paco2017-agenda .day-date {
	opacity: .7;
}

.paco2017-agenda .item-details {
	display: block;
	font-size: 80%;
	opacity: .7;
}

.paco2017-agenda .item-details span:not(:last-child):after {
	content: ' \2013';
}

/* Sprekers */

.paco2017-content ul.item-objects li {
	margin-bottom: 0;
}

@media screen and (min-width: 30em) {

	/* Info */

	.paco2017-info:not(.speaker-info) {
		font-size: 14px;
		font-size: .875rem;
	}
}

.paco2017-advertorial {
	color: #ddd;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.paco2017-advertorial:before {
	display: block;
	width: 100%;
	margin: 10px 0;
	text-align: center;
	font-size: 70%;
	text-transform: lowercase;
}

.paco2017-advertorial p iframe {
	margin-bottom: 0;
}
