/**
 * Paco2017 Content Styles
 *
 * @package Paco2017 Content
 * @subpackage Main
 */

.paco2017_enrollments_widget dl {
	margin: 0;
}

.paco2017_enrollments_widget dt,
.paco2017_enrollments_widget dd {
	display: inline-block;
	margin: 0;
	padding: 5px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.paco2017_enrollments_widget dt {
	width: 75%;
	padding-left: 10px;
	font-weight: 600;
}

.paco2017_enrollments_widget dd {
	width: 25%;
	padding-right: 15px;
	text-align: right;
}

/* Content */

.paco2017-content ul {
	list-style: none;
}

.paco2017-content > ul > li {
	margin: 0 0 2em 0;
}

.paco2017-content li.has-item-avatar {
	min-height: 80px;
}

.paco2017-content li ul {
	margin: 0 0 1.5em 0;
}

.paco2017-content li p:empty {
	display: none;
}

.paco2017-content .item-header {
	margin: 0 0 0.5em;
}

.paco2017-content .item-title {
	font-weight: 600;
}

.paco2017-content .item-content {
	margin: 0 0 1.5em;
}

.paco2017-content .item-footer {
	margin-top: -.75em;
}

/* Agenda */

.paco2017-agenda .day-title {
	margin-bottom: 0;
}

.paco2017-agenda .day-date {
	opacity: .7;
}

.paco2017-agenda .item-timeslot {
	font-size: 80%;
	opacity: .7;
}

/* Speakers */

.paco2017-speakers .item-avatar {
	float: left;
	margin: 5px 15px 2px 0;
}

.paco2017-speakers .item-avatar img {
	width: 80px;
	height: 80px;
}
