.wp-setting-image {
	position: relative;
	max-width: 150px;
	width: 100%;
	display: inline;
	vertical-align: middle;
}

.wp-list-table .wp-setting-image.has-image {
	max-width: 75px;
}

.wp-setting-image.has-image,
.wp-setting-image.has-image .wp-setting-image-set {
	display: inline-block;
}

.wp-setting-image-set img {
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: bottom;
}

.wp-setting-image .wp-setting-image-remove {
	position: relative;
	left: -9999em;
	color: #a00;
	text-decoration: none;
}

.wp-setting-image .wp-setting-image-remove:hover,
.wp-setting-image .wp-setting-image-remove:hover {
	color: #f00;
	border: none;
}

tr:hover .wp-setting-image:not(.has-image) .wp-setting-image-remove,
.wp-setting-image:not(.has-image) .wp-setting-image-remove:focus,
tr:hover .wp-setting-image:not(.has-image) .wp-setting-image-remove .screen-reader-text,
.wp-setting-image:not(.has-image) .wp-setting-image-remove:focus .screen-reader-text {
	position: static !important; /* Overrule .screen-reader-text's absolute !important */
}

.wp-setting-image.has-image .wp-setting-image-remove {
	position: absolute;
	top: 0;
	background: #f1f1f1;
}

.striped > tbody > :nth-child(odd) .wp-setting-image.has-image .wp-setting-image-remove {
	background: #f9f9f9;
}

.striped > tbody > :nth-child(even) .wp-setting-image.has-image .wp-setting-image-remove {
	background: #fff;
}

tr:hover .wp-setting-image.has-image .wp-setting-image-remove,
.wp-setting-image.has-image .wp-setting-image-remove:focus {
	right: 0;
	left: auto;
}

.wp-setting-image.has-image .wp-setting-image-remove:after {
	content: '\f158'; /* dashicons-no */
	font-family: dashicons;
	display: block;
	width: 32px;
	height: 32px;
	text-align: center;
	font-size: 24px;
	line-height: 33px;
}

@media screen and (max-width: 782px) {
	.wp-setting-image.has-image .wp-setting-image-remove {
		right: 0;
		left: auto;
	}

	.wp-setting-image.has-image .wp-setting-image-remove:after {
		width: 42px;
		height: 42px;
		font-size: 32px;
		line-height: 43px;
	}
}
