.wp-post-image {
	position: relative;
	max-width: 266px;
	width: calc( 100% - 6.3em );
	display: inline-block;
	vertical-align: middle;
}

.wp-post-image-set {
	display: inline-block;
}

.wp-post-image-set img {
	max-width: 100%;
	height: auto;
	width: auto;
	vertical-align: bottom;
}

.wp-post-image-remove {
	position: absolute;
	right: 0;
	background: #fff;
	text-decoration: none;
	color: #a00;
	visibility: hidden;
}

.wp-post-image-remove:hover,
.wp-post-image-remove:focus {
	color: #f00;
}

.wp-post-image:hover .wp-post-image-remove,
.wp-post-image-remove:focus {
	visibility: visible;
}

.wp-post-image-remove:after {
	content: '\f335'; /* dashicons-no-alt */
	font-family: dashicons;
	display: block;
	width: 32px;
	height: 32px;
	font-size: 32px;
	line-height: 33px;
}
