.wp-post-image {
	position: relative;
	max-width: 266px;
	width: calc( 100% - 6.3em );
	vertical-align: middle;
}

.wp-post-image.has-image,
.wp-post-image.has-image .wp-post-image-set {
	display: inline-block;
}

.wp-post-image-set img {
	max-width: 100%;
	height: auto;
	width: auto;
	vertical-align: bottom;
}

.wp-post-image .wp-post-image-remove {
	position: relative;
	left: -9999em;
	color: #a00;
	text-decoration: none;
}

.wp-post-image .wp-post-image-remove:hover {
	color: #f00;
	border: none;
}

*:hover > .wp-post-image:not(.has-image) .wp-post-image-remove,
.wp-post-image:not(.has-image) .wp-post-image-remove:focus,
*:hover > .wp-post-image:not(.has-image) .wp-post-image-remove .screen-reader-text,
.wp-post-image:not(.has-image) .wp-post-image-remove:focus .screen-reader-text {
	position: static !important; /* Overrule .screen-reader-text's absolute !important */
}

.wp-post-image.has-image .wp-post-image-remove {
	position: absolute;
	top: 0;
	background: #fff;
}

.wp-post-image.has-image:hover .wp-post-image-remove,
.wp-post-image.has-image .wp-post-image-remove:focus {
	right: 0;
	left: auto;
}

.wp-post-image.has-image .wp-post-image-remove:after {
	content: '\f158'; /* dashicons-no */
	font-family: dashicons;
	display: block;
	width: 32px;
	height: 32px;
	text-align: center;
	font-size: 24px;
	line-height: 33px;
}

@media screen and (max-width: 782px) {
	.wp-post-image.has-image .wp-post-image-remove {
		right: 0;
		left: auto;
	}

	.wp-post-image.has-image .wp-post-image-remove:after {
		width: 42px;
		height: 42px;
		font-size: 32px;
		line-height: 43px;
	}
}
