/**
 * Paco2017 Content BuddyPress Styles
 *
 * @package Paco2017 Content
 * @subpackage BuddyPress
 */

#buddypress span.activity {
	display: none;
}

#buddypress ul.item-list li .item-avatar img.avatar {
	width: 50px;
	height: 50px;
}

i.paco2017-enrolled {
	display: inline-block;
	font-size: inherit;
	width: auto;
	height: auto;
	line-height: inherit;
	font-family: dashicons;
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	text-align: center;
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

i.paco2017-enrolled:before {
	content: "\f147";
}

/* Member badge */
.paco2017-badge {
	display: inline-block;
	margin: 0 6px 2px 0;
	padding: 2px 4px;
	background: rgba(153, 153, 153, .6);
	border: 1.5px solid rgb(153, 153, 153);
	border-radius: 2px;
	color: #fff;
	font-style: italic;
	font-size: .5rem;
	text-transform: uppercase;
	vertical-align: middle;
}
