/**
 * Paco2017 Content Styles
 *
 * @package Paco2017 Content
 * @subpackage Main
 */

#buddypress ul.item-list li .item-avatar img.avatar {
	width: 50px;
	height: 50px;
}

#buddypress ul.item-list li .item-title i {
	font-size: inherit;
	width: auto;
	height: auto;
	line-height: inherit;
}

/* Association badge */
#buddypress ul.item-list li .item-title i.paco2017-association-badge {
	display: inline-block;
	margin: 0 0 2px 0;
	padding: 2px 3px;
	background: rgba(153, 153, 153, .6);
	border: 1.5px solid rgb(153, 153, 153);
	color: #fff;
	font-size: .45em;
	border-radius: 2px;
	text-transform: uppercase;
	vertical-align: middle;
}
